<div class="container-nav">
    <div class="sub-container-nav">
        <a href="/">
            <h1 class="sub-container-title">MystView</h1>
        </a>
        <div class="sub-container-nav-right">
            {{#if User}}
            <h2 class="sub-container-nav-right-code">
                <a class="sub-container-nav-right-code-link" href="/reviews">
                    {{User.code}}
                </a>
            </h2>
            <a href="/logout">Logout</a>
            {{else}}
                {{#if isSignin}}
                    <a href="/signup">signup</a>
                {{else}}
                    <a href="/signin">signin</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

<div class="container-index">
     <div>
        {{#if User}}
        <h1>Already signed in</h1>
        {{else}}
        
        {{#if isSignin}}

        <form method="POST" action="/signin" class="container-form">
            <h1>Sign In</h1>
            {{#if ErrorText}}
            <span class="error-wrong-code">{{ErrorText}}</span>
            {{/if}}
            <div>
                <input type="text" name="username" placeholder="enter your username" class="container-form-input"
                    value={{Username}}>
            </div>
            <input type="password" name="password" placeholder="enter your password" required="required"
                class="container-form-input">
            <div>
                <input type="submit" value="Sign In!" class="container-form-button">
            </div>
        </form>
        
        {{else}}

        <form action="/signup" method="POST" class="container-form">
            <h1>Sign Up</h1>
            {{#if ErrorText}}
            <span class="error-wrong-code">{{ErrorText}}</span>
            {{/if}}
            <div>
                <input type="text" name="username" placeholder="What's your username?" autofocus="autofocus" required
                    class="container-form-input" value={{Username}}>
            </div>
            <div>
                <input type="password" name="password" placeholder="Choose a password" required class="container-form-input">
            </div>
            <input type="submit" value="Sign Up!" class="container-form-button">
        </form>
        {{/if}}
        {{/if}}
    </div>
    </div>
