<div class="container-nav">
    <div class="sub-container-nav">
        <a href="/">
            <h1 class="sub-container-title">MystView</h1>
        </a>
        <div class="sub-container-nav-right">
            {{#if User}}
            <h2 class="sub-container-nav-right-code">
                <a class="sub-container-nav-right-code-link" href="/reviews">
                    {{User.code}}
                </a>
            </h2>
            <a href="/logout">Logout</a>
            {{else}}
                {{#if isSignin}}
                    <a href="/signup">signup</a>
                {{else}}
                    <a href="/signin">signin</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

<div class="container-index">
     <div>
        {{#if User}}
            <h1>Already signed in</h1>
        {{else}}
            {{#if Email}}
                {{#if isSignin}}
                    <form method="POST" action="/signin" class="container-form">
                        <h1>Sign In</h1>
                {{else}}
                    <form method="POST" action="/signup" class="container-form">
                        <h1>Sign Up</h1>
                {{/if}}
                        {{#if ErrorText}}
                                <span class="error-wrong-code">{{ErrorText}}</span>
                            {{else}}
                                {{#if PasswordInfo}}
                                    <p style="word-break: break-all;" class="info-code">Email contains password.</p>
                                {{/if}}
                        {{/if}}
                        <div>
                            <input type="email" name="email" placeholder="enter your email" class="container-form-input"
                            readonly="readonly" value={{Email}}>
                        </div>
                        <input type="password" name="password" placeholder="enter your password" required="required"
                            class="container-form-input">
                        <div>
                            {{#if isSignin}}
                                <input type="submit" value="Sign In!" class="container-form-button">
                            {{else}}
                                <input type="submit" value="Sign Up!" class="container-form-button">
                            {{/if}}
                        </div>
                    </form> 
            {{else}}
                <form method="POST" action="/send-email" class="container-form">
                {{#if isSignin}}
                    <h1>Sign In</h1>
                {{else}}
                    <h1>Sign Up</h1>
                {{/if}}
                    <input type="email" name="email" placeholder="enter your email" class="container-form-input"
                        required="required" value={{Email}}>
                    <div>
                        <input type="submit" value="Submit!" class="container-form-button">
                    </div>
                </form>
            {{/if}}
        {{/if}}
    </div>
</div>
