<div class="container-nav">
  <div class="sub-container-nav">
    <a href="/">
      <h1 class="sub-container-title">MystView</h1>
    </a>
    <div class="sub-container-nav-right">
      {{#if User}}
        <h2 class="sub-container-nav-right-code">
          <a class="sub-container-nav-right-code-link" href="/reviews">
            {{User.code}}
          </a>
        </h2>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/signin">signin</a>
        <a href="/signup">signup</a>
      {{/if}}
    </div>
  </div>
</div>

<div class="container-index">
  <form class="container-form" action="/reviews/create" method="POST">
    <div>

      {{#if ErrorText}}
        <span class="error-wrong-code">{{ErrorText}}</span>
      {{/if}}
      <div>
        <input minLength="6" maxLength="6" pattern="[0-9]+" id="user" type="text" class="container-form-input" name="code"
          placeholder="Enter 6 digit key" required title="Only numbers :)" value={{Code}}>
      </div>
      <div>
        <textarea class="container-form-input" name="review" maxlength="150" rows="5" cols="30"
          placeholder="Your review is anonymous" required>{{Review}}</textarea>
      </div>
      <div>
        <input type="submit" class="container-form-button" value="Add Review">
      </div>
      <div class="help-icon">⚇</div>
      <div class="hide">You review people without them knowing, you need their code!</div>
    </div>
  </form>
</div>