<div class="container-nav">
  <div class="sub-container-nav">
    <a href="/">
      <h1 class="sub-container-title">MystView</h1>
    </a>
    <div class="sub-container-nav-right">
      <h2 class="sub-container-nav-right-code">
        <a class="sub-container-nav-right-code-link" href="/reviews">
          {{User.code}}
        </a>
      </h2>
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>


<div>
  <div>
    <img src={{qrCodeURL}} alt="">
    {{#if Reviews}}
      {{#each Reviews}}
      <div class="container-index">
        <div class="container-form">
          <div>
            <h3 class="review-date {{this.sentimentReview}}">{{this.date}}</h3>
            <hr>
            <h2 class="review-review {{this.sentimentReview}}">{{this.review}}</h2>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <div class="container-index" style="display:flex;flex-direction:column;">
        <h1>No reviews yet!</h1> 
        <h1>Give your code to people :)</h1>
      </div>
    {{/if}}
  </div>
</div>